*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.body{
    
    width: 70%;
    
}
.buttons1{
    background-color: #556b8d;
    height: 50px;
width: 200px;
border-radius: 5px;
}
.buttons2{
    background-color: #85c744;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}
.buttons3{
    background-color: #efa131;
    height: 50px;
    width: 200px;
    border-radius: 5px;

}
.buttons4{
    background-color: #76c4ed;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}
.buttons5{
    background-color: #16a085;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}