.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.menu-item{
    width: 100px;
    height: 100px;
    border: 1px solid;
    background-color: aquamarine;
    margin-left: 10px;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    
}

.button{
    max-height: 50px;
}