.tables-div{
    display: flex;
    flex-direction: column;
    
  

}
.tables{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 30px;
    font-size: x-small;
    text-align: center;

}

.Menu-button{
    margin-top: 100px;
    
}
.Menu-button>button{
    cursor: pointer;
}
.tables>div{
    border: 1px solid green;
    border-radius: 7px;
}
.tables>div:hover{
    
    cursor: pointer;
}
.custom_card{
    height: 82px !important;
}
.custom-img{
    height: 42px !important;
    width: 44px !important;
}


