*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.body{
    
    width: 70%;
    
}
.Buttons1{
background-color: #556b8d;
height: 50px;
width: 200px;
border-radius: 5px;
}
.Buttons2{
    background-color: #85c744;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}
.Buttons3{
    background-color: #efa131;
    height: 50px;
    width: 200px;
    border-radius: 5px;

}
.Buttons4{
    background-color: #76c4ed;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}
.Buttons5{
    background-color: #16a085;
    height: 50px;
    width: 200px;
    border-radius: 5px;
}
#row{
    

    flex-wrap: wrap;
}