.main {
  background:#22C1C3;
  padding: 5px;
  

}
.rightSide{
  height: 50px;
  border-radius: 3px;
  font-weight: 500;
  
  position: relative;
   display: flex;
   flex-wrap: wrap;
   
   

   
}



.top-button{
  margin: 5px;
  color:black;
  background-color: #FFFFFF;
  border-radius: 6px;
  height: fit-content;
  width:100px;
  width: fit-content;
  box-shadow: 3px 3px 5px;
  margin-left: 3px;
  

  

}
#modal{
  width: 90%;
  padding: 20px;
  
  
}
@media screen  and (max-width: 400px){
  .me-auto{ display:flex; flex-direction:row; display: inline;}
  .rightSide{ display: inline;}
  
}
#New{

  width: 100px;
}
