
.calculation-buttons{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: space-evenly;
    color: white;


}
.calculation-buttons>button>i{
    color: white;
}
.qty{
    font-weight: bold;
    color:white;
    width: 200px;
    height: 35px;
    border-radius: 5px ;

}
.sidebar{
    background-color: #F3F3F3;
}
/* .itemtotal{
    margin-right: 80px;
    font-weight: 500;
} */
.order-left-items{
    text-align: initial;
    text-transform: uppercase;
    width: 60%;
    padding-left: 10px;
    font-weight: bold;
}
.order-right-items{
    text-align: right;
    text-transform: uppercase;
    width: 40%;
}
.calculation-buttons>button{
    margin-right: 5px;
    width: 200px;
    height: 35px;
    border-radius: 7px;
    background-color:#55575c;
    cursor: pointer;
    border-radius: 5px;
  
}

.functional-buttons{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.functional-buttons>div>button{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 165px;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: #55575c;
    color: white;
    font-weight: bold !important;
    
}
/* .table-custom, th,td {
    border: 1px solid black;
} */

.table-custom{
    overflow-y: auto;
    text-decoration: rgb(80, 121, 235);
    border: 1px solid black;
   border-collapse: collapse;
    text-align: center;
   
}

li{
    list-style: none;
 }
 ul>li>label{
     margin-right: 10px;
 
  }
 

  