.footer {
  background:#22C1C3;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 12px;
}
.abc {
  float: right;
  display: flex;
}
.works {
  color: #ff6347;
  font-size: 40px;
}
.p {
  color: #666666;
  font-size: 40px;
}
.bottom-button {
  padding-top: 10px ;
  height: 60px;
  width: 90px;
  background-color: 	#544b8b;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  box-shadow: 0px 3px 7px 3px rgba(240, 234, 234, 0.75);
}

.btn1 {
  float: left;
}
