.burgers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.burgers> div{
    width: 100px;
    height: 100px;
    border: 1px solid;
    background-color: rgb(226, 123, 27);
    margin-left: 10px;
    font-size: 10px;
    text-align: center;
    display: inline-flex;

}